{% set header_title_class = "header-title-contact" %}
{% extends "base.html.j2"%}

{% block title %}
    Compagnie à Contre-Nuit - Contacts
{% endblock %}

{% block header_title %}
    <img src="{{ url_for('static', filename='main/contact/banner_contact.png') }}" alt="Contact">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="fixed-grid has-2-cols">
            <div class="grid">
                <div class="contact-logo">
                    <img src="{{ url_for('static', filename='img/logo_cie_contre_nuit_noir.png') }}" alt="Logo Cie À Contre-Nuit">
                </div>
                <section class="section contact-infos">
                    {% if info.phone %}
                    <h3 class="is-size-3">Téléphone</h3>

                    <p>{{ info.phone }}</p>
                    {% endif %}

                    {% if info.email %}
                    <h3 class="is-size-3">Courriel</h3>

                    <p>{{ info.email }}</p>
                    {% endif %}

                    {% if info.networks|length > 0 %}
                    <h3 class="is-size-3 mt-6">Réseaux</h3>

                    <div class="contact-network pt-4 is-flex is-flex-direction-column">
                        {% for n in info.networks %}
                            <div class="contact-network-item is-flex is-align-items-center">
                                <div><a href="https://instagram.com/cie_acontrenuit"><i class="{{ n.logo }} has-text-black is-size-1"></i></a></div>
                                <div class="">{{ n.text }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if info.credits|length > 0 %}
                    <h3 class="is-size-3 mt-6">Crédits</h3>

                    <div class="contact-credits pt-4 is-flex is-flex-direction-column">
                        <ul class="list">
                            {% for c in info.credits %}
                                    <li class="list-item">{{ c.text }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}