{% extends "base.html.j2"%}

{% block title %}
    Compagnie à Contre-Nuit
{% endblock %}

{% block header_title %}
    <img src="{{ url_for('static', filename='main/index/banner_a_contre_nuit.png') }}" alt="À Contre-Nuit">
{% endblock %}

{% block content %}
    <div class="container mt-6 mb-6">
        <h2 class="mb-6"><img src="{{ url_for('static', filename='main/index/soon.png') }}" alt="Prochainement" class="is-size-2-img"></h2>
        <div class="fixed-grid has-2-cols has-1-cols-mobile">
            <div class="grid is-gap-6">
                {% for p in projects %}
                <div class="card card-project-index">
                    <div class="card-image">
                        <figure class="image">
                            <a href="{{ url_for('main.play', short_title=p.short_title) }}"><img src="{{ url_for('static', filename='main/projects/uploads/'+p.id|string+'_banner.png') }}" onerror="this.src='{{ url_for('static', filename='img/cover.png') }}'" alt="Banière de {{ p.full_title }}"></a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            {# <h3><img class="is-size-2-img" src="{{ url_for('static', filename='main/projects/uploads/'+p.id|string+'_title.png') }}" alt="{{ p.short_title }}"></h3> #}
                            <p class="card-description">{{ p.short_description | truncate(500) }}</p>
                            <p class="has-text-right"><a class="link" href="{{ url_for('main.play', short_title=p.short_title) }}">En savoir plus</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}