{% extends "base.html.j2"%}

{% block title %}
    Compagnie à Contre-Nuit - Nos projets
{% endblock %}

{% block header_title %}
    <img src="{{ url_for('static', filename='main/projects/banner_projects.png') }}" alt="La Compagnie">
{% endblock %}

{% block content %}
    <div class="container">
        {# Current #}
        <section class="section">
            <h2 class="mb-4"><img src="{{ url_for('static', filename='main/projects/ongoing.png') }}" alt="En cours de création" class="is-size-2-img"></h2>

            <div class="fixed-grid has-1-cols">
                <div class="grid">
                    {% for p in projects %}
                    {% if p.active %}
                        <div class="card card-horizontal">
                            <div class="card-image">
                                <figure class="image">
                                    <a href="{{ url_for('main.play', short_title=p.short_title) }}"><img src="{{ url_for('static', filename='main/projects/uploads/'+p.id|string+'_banner.png') }}" onerror="this.src='{{ url_for('static', filename='img/cover.png') }}'" alt="Couverture de {{ p.full_title }}"></a>
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    {# <div class="project-name mb-2"><img class="is-size-2-img" src="{{ url_for('static', filename='main/projects/uploads/'+p.id|string+'_title.png') }}" alt="{{ p.short_title }}"></div> #}
                                    <div class="project-date mb-2">
                                        {% if p.is_future %}
                                            <b>Prochainement...</b>
                                        {% elif p.start_date and p.end_date %}
                                            {% if p.start_date.year == p.end_date.year %}
                                                <b>Année {{ p.start_date.year }}</b>
                                            {% else %}
                                                <b>Années {{ p.start_date.year }} - {{p.end_date.year }}</b>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="project-desc has-text-justified mb-2">{{ p.short_description | truncate(300) }}</div>
                                    <div class="has-text-right"><a class="link" href="{{ url_for('main.play', short_title=p.short_title) }}">En savoir plus.</a></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        {# Archives #}
         <section class="section mb-6">
            <h2 class="mb-4"><img src="{{ url_for('static', filename='main/projects/before.png') }}" alt="Avant la compagnie" class="is-size-2-img"></h2>

            <div class="fixed-grid has-1-cols">
                <div class="grid">
                    {% for p in projects %}
                    {% if not p.active %}
                        <div class="card card-horizontal">
                            <div class="card-image">
                                <figure class="image">
                                    <a href="{{ url_for('main.play', short_title=p.short_title) }}"><img src="{{ url_for('static', filename='main/projects/uploads/'+p.id|string+'_banner.png') }}" onerror="this.src='{{ url_for('static', filename='img/cover.png') }}'" alt="Couverture de {{ p.full_title }}"></a>
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    {# <div class="project-name mb-2"><img class="is-size-2-img" src="{{ url_for('static', filename='main/projects/uploads/'+p.id|string+'_title.png') }}" alt="{{ p.short_title }}"></div> #}
                                    <div class="project-date mb-2">
                                        {% if p.is_future %}
                                            <b>Prochainement...</b>
                                        {% elif p.start_date and p.end_date %}
                                            {% if p.start_date.year == p.end_date.year %}
                                                <b>Année {{ p.start_date.year }}</b>
                                            {% else %}
                                                <b>Années {{ p.start_date.year }} - {{p.end_date.year }}</b>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="project-desc has-text-justified mb-2">{{ p.short_description | truncate(300) }}</div>
                                    <div class="has-text-right"><a class="link" href="{{ url_for('main.play', short_title=p.short_title) }}">En savoir plus.</a></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}