{% extends "base.html.j2"%}

{% block title %}
    Compagnie à Contre-Nuit - La Compagnie
{% endblock %}

{% block header_title %}
    La Compagnie
{% endblock %}

{% block content %}
    <div class="container">
        C'est cool la théâtre donc on en fait. ahah
    </div>
{% endblock %}