{% extends "base.html.j2"%}

{% block title %}
    Compagnie à Contre-Nuit - La Compagnie
{% endblock %}

{% block header_title %}
    <img src="{{ url_for('static', filename='main/troupe/title_troupe.png') }}" alt="La Compagnie">
{% endblock %}

{% block content %}
    <div class="container">
        {# Description of the troupe#}
        <section class="section has-text-justified">
            {{ lipsum(4) }}
        </section>

        {# Description of the team #}
        <section class="section">
            <h2 class="mb-6"><img src="{{ url_for('static', filename='main/troupe/the_team.png') }}" alt="L'Équipe" class="is-size-2-img"></h2>

            <div class="fixed-grid has-3-cols has-2-cols-mobile">
                <div class="grid is-gap-4">
                    {% for i in range (11) %}
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4-by-3">
                                    <img src="{{ url_for('static', filename='img/cover.png') }}" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <div class="troupe-name"><img src="{{ url_for('static', filename='main/troupe/Pierre.png') }}" alt="Pierre"></div>
                                    <div class="troupe-role has-text-centered">Metteur en scène</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </section>
    </div>
{% endblock %}