{% extends "base.html.j2"%}

{% block title %}
    Compagnie à Contre-Nuit - La Compagnie
{% endblock %}

{% block header_title %}
    <img src="{{ url_for('static', filename='main/troupe/banner_troupe.png') }}" alt="La Compagnie">
{% endblock %}

{% block content %}
    <div class="container">
        {# Description of the troupe#}
        <section class="section has-text-justified">
            {{ lipsum(4) }}
        </section>

        {# Description of the team #}
        <section class="section">
            <h2 class="mb-6"><img src="{{ url_for('static', filename='main/troupe/the_team.png') }}" alt="L'Équipe" class="is-size-2-img"></h2>

            <div class="fixed-grid has-3-cols has-2-cols-tablet has-1-cols-mobile">
                <div class="grid is-gap-4">
                    {% for m in members %}
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4-by-3">
                                    <img src="{{ url_for('static', filename='main/troupe/uploads/' + m.id|string + '_cover.png') }}" onerror="this.src='{{ url_for('static', filename='main/troupe/cover.png') }}'" alt="Pas d'image de profil">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <div class="troupe-name has-text-centered"><img class="is-size-2-img" src="{{ url_for('static', filename='main/troupe/uploads/' + m.id|string + '_name.png') }}" alt="{{ m.first_name }} {{ m.last_name }}"></div>
                                    <div class="troupe-role has-text-centered">{{ m.role }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </section>
    </div>
{% endblock %}