@charset "utf-8";

@use "bulma/sass/utilities";
@use "bulma/sass/base";
@use "bulma/sass/elements";
@use "bulma/sass/form";
@use "bulma/sass/components" with (
    $card-shadow: none,
    $card-radius: 0,
    $navbar-burger-color: white
);
@use "bulma/sass/grid";
@use "bulma/sass/layout" with (
    $footer-background-color: black,
    $footer-color: white
);
@use "bulma/sass/base/skeleton";
@use "bulma/sass/helpers";

@use "bulma/sass/themes/light";
@use "bulma/sass/themes/setup";

:root {
    @include light.light-theme;
    @include setup.setup-theme;
}