@use "bulma-custom";

@font-face {
    font-family: "Roboto";
    src: url("/static/fonts/Roboto-Regular.ttf");
}

// Sticky footer
html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    font-family: "Roboto";
    background-color: black;
    color: white;
    height: 100vh;

    .navbar {
        font-size: 3rem;

        .navbar-brand {
            margin-right: 15vw;
            img {
                height: 5rem;
                max-height: none;
            }
        }

        .navbar-start {
            justify-content: space-around;
            flex-grow: 1;
            margin-inline-end: 0;
        }
    }

    .header-title {
        display: flex;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-top: 20vh;

        h1 {
            font-size: 5rem;
        }
    }
}
.main-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.footer {
    margin-top: auto;
    font-family: "Roboto";
}
// Index
.card-project-index {
    padding: 1rem;
    .card-content{
        border: 1px solid black;
    }
}