@use "bulma-custom";
@use "bulma/sass/utilities/mixins";

@font-face {
    font-family: "Roboto";
    src: url("/static/fonts/Roboto-Regular.ttf");
}

// General
.inverted-image {
    filter: invert(1);
}
.is-size-2-img {
    height: 2.5rem;
}
.is-size-4-img {
    height: 2.5rem;
}
.card-horizontal {
    .card-image figure {
        aspect-ratio: 5/3;
    }
    @include mixins.tablet {
        display: flex;
        .card-image {
            width: 40%;
            figure {
                @include mixins.until-widescreen {
                    aspect-ratio: 4/3;
                    img {
                        height: 100%;
                    }
                }
            }
        }
        .card-content {
            width: 60%;
        }
    }
}
// Sticky footer
html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
}

.header {
    background-color: black;
    color: white;
    min-height: 100vh;

    .navbar {
        font-size: 3rem;

        .navbar-brand {
            margin-right: 15vw;

            img {
                height: 5rem;
                max-height: none;
            }
        }

        .navbar-start {
            justify-content: space-around;
            flex-grow: 1;
            margin-inline-end: 0;
        }
    }

    .header-title {
        display: flex;
        justify-content: center;
        padding-top: 3rem;
        margin-top: 2vh;

        h1 {
            font-size: 5rem;
            line-height: 0;

            img {
                width: 100%;
            }
        }

    }
}

.main-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer {
    margin-top: auto;
    font-family: "Roboto";
}

// Index
.card-project-index {
    padding: 1rem;

    .card-content {
        border: 1px solid black;
    }
}

// Contact
.contact-logo img {
    max-height: 30rem;
}