{% extends "base_admin.html.j2"%}

{% block title %}
    Se connecter
{% endblock %}

{% block content%}
    <div class="is-flex is-justify-content-center mt-6">
        <form action="{{ url_for('auth.login') }}" method="post">
            <h1 class="is-size-1">Connexion</h1>
            <hr>
            {{ login_form.hidden_tag() }}
            <div class="field">
                <label class="label">Nom d'utilisateur</label>
                <div class="control">
                    {{ login_form.username(size=32,class="input") }}
                </div>
            </div>
            <div class="field">
                <label class="label">Mot de passe</label>
                <div class="control">
                    {{ login_form.password(class="input") }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-success">Se connecter</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}