<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title -%}{%- endblock %}</title>

    {# DEV ASSETS #}
    {% if vite_asset('main.js').client %}
        <script type="module" src="{{ vite_asset('main.js').client }}"></script>
    {% endif %}

    {# PROD CSS#}
    {% for css_file in vite_asset('main.js').css %}
        <link rel="stylesheet" href="{{ css_file }}">
    {% endfor %}
</head>
<body>
    <header class="header">
        <nav class="navbar is-black" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="{{ url_for('main.index') }}" class="navbar-item">
                    <img src="{{ url_for('static', filename='img/logo_cie_contre_nuit_blanc.png') }}" alt="Logo Compagnie a Contre-Nuit">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="navMenu">
                <div class="navbar-start">
                    <a href="{{ url_for('main.troupe') }}" class="navbar-item">La Compagnie</a>
                    <a href="{{ url_for('main.projects') }}" class="navbar-item">Nos Projets</a>
                    <a href="{{ url_for('main.contact') }}" class="navbar-item">Contacts</a>
                </div>
            </div>
        </nav>
        <div class="header-title {{ header_title_class }}">
            <h1>{% block header_title %}{% endblock %}</h1>
            {% block header_img %}{% endblock %}
        </div>
    </header>

    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer has-text-centered">
        <p class="mb-4"><a href="https://instagram.com/cie_acontrenuit" class="has-text-white is-flex is-align-items-center is-justify-content-center"><i class="fab fa-instagram is-size-4"></i> @cie_acontrenuit</a></p>
        <p>Site internet réalisé par Anna Raffault et Louis Grandvaux</p>
        <p>© 2025 COMPAGNIE À CONTRE-NUIT</p>
    </footer>

    {# PROD JS #}
    <script type="module" src="{{ vite_asset('main.js').js }}"></script>
</body>
</html>